body
{
    background-color: #344055;
    text-align: center;
    color: #FFECD1;
    font-family:'Kumbh Sans', sans-serif;   
    margin: 0;
    padding: 0;
}

a
{
    color: silver;
    text-decoration: none;
}

a:hover
{
    color: #A9CEF4;
    text-decoration: underline;
}

h2
{
    text-align: center;
}

p
{
    text-align: center;
}

img
{
    width: 27.5%;
}

figure
{
    text-align: center;
    font-style: italic;
}

.divider {
  margin: 0 auto;
  border: 0 auto;
  height: 1px;
  width: 25%;
  text-align: center;
  background: #FFECD1;
}

nav
{
    font-size: 20px;
    margin: 5px auto;
}

li
{
    margin: 8px auto;
}

.divider
{
    width: 90%;
}

table
{
    width: 80%;
    background-color: black;
    margin: 0 auto;
    font-size: 18px;
    border-collapse: collapse;
}

table th, table td
{
    border: 1px solid blue;
    padding: 10px;
}

thead
{
    text-align: center;
}

tbody
{
    text-align: center;
}

td
{
    text-align: left;
}

@media screen and (min-width: 981px) and (max-width: 1400px)
{
    h1
    {
        font-size: 35px;
    }
    
    h2
    {
        font-size: 32px;
    }

    h3
    {
        font-size: 30px;
    }

    nav
    {
        font-size: 30px;
    }

    p
    {
        font-size: 25px;
    }

    li
    {
        font-size: 25px;
    }
}

@media screen and (min-width: 601px) and (max-width: 980px)
{
    h1
    {
        font-size: 30px;
    }

    h2
    {
        font-size: 27px;;
    }

    h3
    {
        font-size: 25px;
    }

    nav
    {
        font-size: 25px;
    }

    p
    {
        font-size: 20px;
    }

    li
    {
        font-size: 20px;
    }
}

@media screen and (min-width: 370px) and (max-width: 600px)
{
    h1
    {
        font-size: 25px;
    }

    h2
    {
        font-size: 22px;
    }
    
    h3
    {
        font-size: 20px;
    }

    nav
    {
        font-size: 20px;
    }

    p
    {
        font-size: 15px;
    }

    li
    {
        font-size: 15px;
    }
}